@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary: oklch(0.63 0.258 292.3);
}

:root {
  font-family: "Mulish", sans-serif;
}

.moview-list-grid{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media (max-width: 640px) {
  .moview-list-grid{
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
.k-window-dark{
  @apply !bg-gray-800;
  .k-dialog-titlebar{
    @apply !bg-gray-800 border-b border-neutral-400;
  }
  @apply !text-white;
  .movie_details_menu{
    @apply !bg-gray-600
  }
  .text-gray-500{
    @apply !text-neutral-200;
  }
}
* {
  transition: background-color 0.3s, color 0.3s;
}
